.work__main {
    width: 90vw;
    margin: 0 auto;
    padding: 130px 0;
}
.work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & a {
        margin: 14px 0;
    }
    & img {
        width: 650px;
        height: 340px;
    }
    @media (max-width: 1450px) {
        & img {
            width: 500px;
            height: auto;
        }
    }
    @media (max-width: 1150px) {
        & img {
            width: 450px;
        }
    }
    @media (max-width: 1000px) {
        & img {
            width: 70%;
            margin: 0 auto;
        }
    }
    @media (max-width: 1000px) {
        & img {
            width: 100%;
        }
    }
}