.slider__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider__main {
    width: 90vw;
    margin: 0 auto;
    padding: 32px 0;
}
.slider {
    img {
        margin: 0 auto;
        height: 217px;
    }
    @media (max-width: 600px) {
        img {
            height: auto;
        }
    }
}